<a href="https://colab.research.google.com/github/mohammedayoub968/Ai-journey/blob/main/task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
string1 = input("Enter the string rhat you want to calculate the length of if ")
count = 0
for i in string1 :
  count += 1
print(count)

Enter the string rhat you want to calculate the length of if Mohammed
8

In [ ]:
string2 = input("Enter the string rhat you want to calculate the length of if ")
print(len(string2))

Enter the string rhat you want to calculate the length of if mohammed
8

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
string3 = "w3resource"
if len(string3) < 2:
  print("Empty String")
else :
  print(string3[:2]+string3[-2:])

w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
string4 = input("Enter the string ")
if string4[-3:] == "ing" and len(string4) >= 3:
  print(string4 + "ly")
elif len(string4) >= 3 and string4[-3:] != "ing" :
  print(string4 + "ing")
else :
  print(string4)

Enter the string Mohammed
Mohammeding

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def words(word_list):
  longest = word_list[0]
  for word in word_list :
    if len(word) > len(longest) :
      longest = i
    length = len(longest)
  print(f"The longest word {longest} with length {length}")

l = list(input("Enter the names sperated by ',' : ").split(","))
words(l)

Enter the names sperated by ',' : Mohammed Ayoub,Shazily,omer,bashar,baraka
The longest word Mohammed Ayoub with length 14

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
def method1(s) :
  if len(s) < 2:
    return s
  if s[0] == s[1] :
    next_char = chr(ord(s[0]) + 1)
    s_list = list(s)
    s_list[0] = next_char
    s_list[1] = next_char
  else :
    s_list = list(s)
    s_list[0] , s_list[1] = s_list[1] , s_list[0]
  return "".join(s_list)

def method2(s) :
  if len(s) <2:
    return s
  if s[0] == s[-1] :
    next_char = chr(ord(s[0]) + 1)
    return next_char+s[1:-1]+next_char
  else :
    return s[-1]+s[1:-1]+s[0]

In [ ]:
String = input("Please Enter the string you want to manipulate it : ")
print("Method one : " , method1(String))
print("Method two : " , method2(String))

Please Enter the string you want to manipulate it : Playing
Method one :  lPaying
Method two :  glayinP

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
string = input("Enter String: ")
word_list = []

if len(string) == 1:
    print("There are no letters at odd indices.")
else:
    for i in range(len(string)):
        if i % 2 != 0:
            continue
        word_list.append(string[i])
    output = "".join(word_list)
    print(f"The string after removing characters at odd indices: {output}")

Enter String: abcd
The string after removing characters at odd indices: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
sentence = input("Enter the sentence: ").split()
visited = []

for i in range(len(sentence)):
    if sentence[i] in visited:
        continue
    count = 1
    for j in range(i + 1, len(sentence)):
        if sentence[i] == sentence[j]:
            count += 1
    print(f"{sentence[i]}: {count}")
    visited.append(sentence[i])

Enter the sentence: amr and ahmed are frindes but amr is the tallest
amr: 2
and: 1
ahmed: 1
are: 1
frindes: 1
but: 1
is: 1
the: 1
tallest: 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
script = input("Enter sentence : ")
print(f"The sentence in lowe case is : {script.lower()}")
print(f"The sentence in Upper case is : {script.upper()}")

Enter sentence : KCMLKMB
The sentence in lowe case is : kcmlkmb

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
s = input("Enter the string ")
if len(s) % 4 ==0 :
  print(s[::-1])
else :
  print(s)

**10- Write a Python program to remove a newline in Python

In [ ]:
user = "Python\nWith\nGFG"
clear_statment = user.replace("\n" , "")
print("The statment after remove newline char ",clear_statment)

The statment after remove newline char  PythonWithGFG

**11-Write a Python program to check

---

whether a string starts with specified characters

In [ ]:
string = input("Enter String  : ").lower()
char = input("Enter the character you want to check it : ").lower()
if string.startswith(char):
  print("Yes")
else :
  print("NO")

Enter String  : Mohammed Ayoub
Enter the character you want to check it : M
Yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
def add_prefix_to_line(text , prefex):
  lines = text.splitlines()
  return "\n".join(prefex + " " + line for line in lines)

In [ ]:
print("Enter your text (press Enter on an Empty line to finish)")
user_lines = []
while True :
  line = input()
  if line == "" :
    break
  user_lines.append(line)

user_text = "\n".join(user_lines)
prefix = input("Enter your prefix : ")

result = add_prefix_to_line(user_text , prefix)
print(result)

Enter your text (press Enter on an Empty line to finish)
Mohammed
Omer

Enter your prefix : >>
>> Mohammed
>> Omer

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
number = float(input("Enter the number you want to round to two decimal places: "))
rounded_number = round(number, 2)
print(f"The number after rounding is: {rounded_number:.2f}")

Enter the number you want to round to two decimal places: 12.3336565
The number after rounding is: 12.33

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
number = float(input("Enter the number you want to round to two decimal places: "))
rounded_number = round(number, 2)
if rounded_number > 0 :
  print(f"The number after rounding is: +{rounded_number:.2f}")
else :
  print(f"The number after rounding is: -{rounded_number:.2f}")

Enter the number you want to round to two decimal places: 1554.3255
The number after rounding is: +1554.33

**15-Write a Python program to display a number with a comma separator

In [ ]:
number = float(input("Enter The nummber "))
print(f" The Number after comma separator {number:,}")

Enter The nummber 1126737640
 The Number after comma separator 1,126,737,640.0

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
def first_way(word) :
  return word[::-1]

def second_way(word) :
  r = reversed(word)
  return ''.join(r)

word = input("Enter string ")

method1 = first_way(word)
method2 = second_way(word)

print(f"The reverse using first way : {method1}")
print(f"The reverse using first way : {method2}")

Enter string Mohammed
The reverse using first way : demmahoM
The reverse using first way : demmahoM

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
string = input("Enter String : ").lower()
dic = {}

for letter in string :
  if letter in dic :
    dic[letter] +=1
  else :
    dic[letter] = 1

for letters , count in dic.items() :
  if count >1 :
    print(f"The letter '{letters}' is repeated {count} times.")

Enter String : MohammedAyoub
The letter 'm' is repeated 3 times.
The letter 'o' is repeated 2 times.
The letter 'a' is repeated 2 times.

**18-Write a Python program to find the first non-repeating character in a given string

In [1]:
string = input("Enter String : ").lower()
dic = {}

for letter in string :
  if letter in dic :
    dic[letter] +=1
  else :
    dic[letter] = 1

for letters , count in dic.items() :
  if count == 1 :
    print(f"The letter '{letters}' is repeated {count} times.")

Enter String : Mohammedayoub
The letter 'h' is repeated 1 times.
The letter 'e' is repeated 1 times.
The letter 'd' is repeated 1 times.
The letter 'y' is repeated 1 times.
The letter 'u' is repeated 1 times.
The letter 'b' is repeated 1 times.

**19-Write a Python program to remove spaces from a given string

In [1]:
  string = input("Enter String")
  string_without_space = string.replace(" " , "")
  print("your string without space is : " , string_without_space)

Enter StringMohammed Ayoub
your string without space is :  MohammedAyoub

**20-Write a Python program to count the number of non-empty substrings of a given string

In [2]:
string = input("Enter string")
length  = len(string)
non_substring = (length * (length+1) ) // 2
print(f" the number of non-empty substrings : {non_substring}")

Enter stringabc
 the number of non-empty substrings : 6

**21-write a Python program to swap first and last element of any list.

In [6]:
lis = input("Enter element you want to add it the list sperated by space : ").split()
print(f"The list before swap the first and last indexes : {lis}")
lis[0] , lis[-1] = lis[-1] , lis[0]
print(f"The list before swap the first and last indexes : {lis}")

Enter element you want to add it the list sperated by space : M O H A M M E D
The list before swap the first and last indexes : ['M', 'O', 'H', 'A', 'M', 'M', 'E', 'D']
The list before swap the first and last indexes : ['D', 'O', 'H', 'A', 'M', 'M', 'E', 'M']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [9]:
lis = [23 , 65 , 19 , 90]
pos1 = int(input("Enter the first position : "))
pos2 = int(input("Enter the second position : "))
lis[pos1 - 1] , lis[pos2 - 1] = lis[pos2- 1] , lis[pos1 - 1]
print("The list after swap according to the postions : " , lis)

Enter the first position : 2
Enter the second position : 3
The list after swap according to the postions :  [23, 19, 65, 90]

**23- search for the all ways to know the length of the list

1.using len() function

In [11]:
my_list = [10, 20, 30, 40, 50]
size = len(my_list)
print("Size of the list ", size)

Size of the list  5

2. Using a for Loop

In [12]:
my_list = [10, 20, 30, 40, 50]
size = 0
for counter in my_list:
  size += 1
print("Size of the list : ", size)

Size of the list :  5

3. Using List Comprehension

In [13]:
my_list = [10, 20, 30, 40, 50]
size = sum([1 for counter in my_list])
print("Size of the list : ", size)

Size of the list :  5

4. Using reduce()

In [14]:
from functools import reduce

my_list = [10, 20, 30, 40, 50]
size = reduce(lambda acc, _: acc + 1, my_list, 0)
print("Size using reduce():", size)

Size using reduce(): 5

5. Using iter() and next()

In [15]:
my_list = [10, 20, 30, 40, 50]
size = 0
iterator = iter(my_list)
while True:
    try:
        next(iterator)
        size += 1
    except StopIteration:
        break
print("Size using iter() and next():", size)

Size using iter() and next(): 5

6. Using enumerate()

In [16]:
my_list = [10, 20, 30, 40, 50]
size = 0
for index, _ in enumerate(my_list, start=1):
    size = index
print("Size using enumerate():", size)

Size using enumerate(): 5

**24-write a Python code to find the Maximum number of list of numbers.

In [19]:
my_list = [10, 20, 60, 40, 50]
max = my_list[0]
for i in range(1 , len(my_list)):
  if my_list[i] >= max :
    max = my_list[i]
print("The maximun : " , max)

The maximun :  60

**25-write a Python code to find the Minimum number of list of numbers.

In [20]:
my_list = [10, 20, 60, 40, 50]
max = my_list[0]
for i in range(1 , len(my_list)):
  if my_list[i] <= max :
    max = my_list[i]
print("The maximun : " , max)

The maximun :  10

**26-search for if an elem is existing in list

In [22]:
my_list = [10, 20, 60, 40, 50]
element = int(input("Enter the element you want to search it : "))
if element in my_list :
  print("Yes the element is found ")
else :
  print("No the element is not found ")

Enter the element you want to search it : 10
Yes the element is found

**27- clear python list using different ways

In [27]:
def first_way(my_list):
  c = my_list
  c.clear()
  return c

def second_way(my_list):
  while my_list :
    my_list.pop()
  return my_list

my_list = [10, 20, 60, 40, 50]
way1 = first_way(my_list)
way2 = second_way(my_list)
print("the result of first way : " , way1)
print("the result of second way : " , way2)

the result of first way :  []
the result of second way :  []

**28-remove duplicated elements from a list

In [32]:
my_list = [10, 20, 60, 40, 50, 50]
new_list = []

for item in my_list:
    if item not in new_list:
        new_list.append(item)

print(new_list)

[10, 20, 60, 40, 50]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [36]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name" , "id"]
new_list = []
dic = {}
i = 0
while test_list and i < len(test_list):
  dic[key_list[0]] = test_list[i]
  dic[key_list[1]] = test_list[i+1]
  new_list.append(dic)
  i +=2
print(new_list)

[{'name': 'is', 'id': 8}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [43]:
my_list = [10, 20, 60, 40, 50, 50]
new_list = []

for item in my_list:
    if item not in new_list:
        new_list.append(item)

print(len(new_list))

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [47]:
my_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = int(input("Enter the frequency : "))
new_list = []
count = 0
for item in my_list :
  if my_list.count(item) > k and item not in new_list:
    new_list.append(item)
print(new_list)

Enter the frequency : 3
[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [60]:
def strongest_neighbour(arr):
    n = len(arr)
    result = []
    for i in range(n-1):
        if(arr[i]>arr[i+1]):
          result.append(arr[i])
        else:
          result.append(arr[i+1])
    return result

arr = [1, 2, 2, 3, 4, 5]
output = strongest_neighbour(arr)
print(output)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [62]:
def all_combinations(digits):
    for i in digits:
        for j in digits:
            for k in digits:
                if i != j and j != k and i != k:
                    print(i, j, k, end=" ## ")


digits = [1, 2, 3]
all_combinations(digits)

1 2 3 ## 1 3 2 ## 2 1 3 ## 2 3 1 ## 3 1 2 ## 3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [61]:
def find_combinations(test_list):
    n = len(test_list)
    for i in range(n):
        for j in range(i, n):
            print(test_list[i:j+1])

test_list = [1, 2, 3]
find_combinations(test_list)

[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [63]:
from itertools import permutations

def unique_combinations(list1, list2):
    result = []
    for perm in permutations(list2):
        pair = list(zip(list1, perm))
        result.append(pair)
    return result

List_1 = ["a", "b"]
List_2 = [1, 2]
unique_combination = unique_combinations(List_1, List_2)
print(unique_combination)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [64]:
def remove_occurrences(input_list, element):
    return [x for x in input_list if x != element]

input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]
element_to_remove = 1
output_list = remove_occurrences(input_list, element_to_remove)
print(*output_list)

2 3 4 5 2

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [65]:
def replace_with_other_list(list1, list2):
    return [list1[i] for i in list2]

list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
result = replace_with_other_list(list1, list2)
print(result)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [66]:
def retain_records(test_list, K, N):
    return [record for record in test_list if record.count(K) == N]

test_list1 = [(4, 5, 5, 4), (5, 4, 3)]
K1 = 5
N1 = 2
result1 = retain_records(test_list1, K1, N1)
print(result1)

test_list2 = [(4, 5, 5, 4), (5, 4, 3)]
K2 = 5
N2 = 3
result2 = retain_records(test_list2, K2, N2)
print(result2)

[(4, 5, 5, 4)]
[]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [67]:
def sort_by_column(array, column):
    return sorted(array, key=lambda x: x[column])

array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

sorted_col_0 = sort_by_column(array, 0)
print("Sorted array specific to column 0:", sorted_col_0)

sorted_col_1 = sort_by_column(array, 1)
print("Sorted array specific to column 1:", sorted_col_1)

sorted_col_2 = sort_by_column(array, 2)
print("Sorted array specific to column 2:", sorted_col_2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [68]:
def sort_dict_by_key(input_dict):
    return dict(sorted(input_dict.items()))

input_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dict = sort_dict_by_key(input_dict)
print("Sorted by Key:", sorted_dict)

Sorted by Key: {'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [69]:
def remove_keys_with_value_greater_than_K(test_dict, K):
    return {key: value for key, value in test_dict.items() if (isinstance(value, int) and value <= K) or not isinstance(value, int)}

test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7
result = remove_keys_with_value_greater_than_K(test_dict, K)
print(result)

{'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [70]:
def concatenate_dicts(*dicts):
    result = {}
    for dic in dicts:
        result.update(dic)
    return result

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

result = concatenate_dicts(dic1, dic2, dic3)
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [71]:
def iterate_over_keys(test_dict):
    for key in test_dict:
        print(key, test_dict[key])

test_dict = {'a': 1, 'b': 2, 'c': 3}
iterate_over_keys(test_dict)

a 1
b 2
c 3

**44- Write a Python script to merge two Python dictionaries

In [72]:
def merge_dicts(dic1, dic2):
    dic1.update(dic2)
    return dic1

dic1 = {'a': 1, 'b': 2}
dic2 = {'c': 3, 'd': 4}

merged_dict = merge_dicts(dic1, dic2)
print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [74]:
def get_max_min_values(test_dict):
    max_value = min_value = list(test_dict.values())[0]

    for value in test_dict.values():
        if value > max_value:
            max_value = value
        if value < min_value:
            min_value = value

    return max_value, min_value

test_dict = {'a': 10, 'b': 20, 'c': 5, 'd': 15}

max_val, min_val = get_max_min_values(test_dict)
print("Maximum value:", max_val)
print("Minimum value:", min_val)

Maximum value: 20
Minimum value: 5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [75]:
def drop_empty_items(test_dict):
    return {key: value for key, value in test_dict.items() if value is not None}

test_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

new_dict = drop_empty_items(test_dict)
print("New Dictionary after dropping empty items:", new_dict)

New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [76]:
numbers_tuple = (10, 20, 30, 40, 50)

print("The third item in the tuple is:", numbers_tuple[2])

The third item in the tuple is: 30

**48-Write a Python program to unpack a tuple into several variables

In [77]:
numbers_tuple = (10, 20, 30, 40, 50)

a, b, c, d, e = numbers_tuple

print("Unpacked values:")
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

Unpacked values:
a = 10
b = 20
c = 30
d = 40
e = 50

**49-Write a Python program to add an item to a tuple

In [78]:
numbers_tuple = (10, 20, 30, 40)

new_item = 50
updated_tuple = numbers_tuple + (new_item,)

print("Updated tuple:", updated_tuple)

Updated tuple: (10, 20, 30, 40, 50)

**50-Write a Python program to convert a tuple to a string

In [79]:
tuple_example = ('P', 'y', 't', 'h', 'o', 'n', 3, 4)

result_string = ''.join(map(str, tuple_example))

print("Converted string:", result_string)

Converted string: Python34

**51-Write a Python program to convert a list to a tuple

In [80]:
my_list = [1, 2, 3, 4, 5]

my_tuple = tuple(my_list)

print("Converted tuple:", my_tuple)

Converted tuple: (1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [81]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [82]:
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

updated_list = [(tup[:-1] + (100,)) for tup in sample_list]

print("Updated List:", updated_list)

Updated List: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [83]:
original_string = "python 3.0"

string_to_tuple = tuple(original_string)

print("Convert the said string to a tuple:", string_to_tuple)

Convert the said string to a tuple: ('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [84]:
tuple_of_tuples = ((10, 20, 30), (40, 50, 60), (70, 80, 90))

flattened_numbers = [num for sub_tuple in tuple_of_tuples for num in sub_tuple]
average = sum(flattened_numbers) / len(flattened_numbers)

print("Average value:", average)

Average value: 50.0

**56-Write a Python program to add member(s) to a set.

In [85]:
my_set = {1, 2, 3, 4}

my_set.add(5)
print("Set after adding a single member:", my_set)

my_set.update([6, 7, 8])
print("Set after adding multiple members:", my_set)

Set after adding a single member: {1, 2, 3, 4, 5}
Set after adding multiple members: {1, 2, 3, 4, 5, 6, 7, 8}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [86]:
my_set = {1, 2, 3, 4, 5}

item_to_remove = 3

my_set.discard(item_to_remove)

print("Set after removal:", my_set)

Set after removal: {1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [87]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection = set1 & set2

union = set1 | set2

difference = set1 - set2

symmetric_difference = set1 ^ set2

print("Intersection of sets:", intersection)
print("Union of sets:", union)
print("Difference of sets (set1 - set2):", difference)
print("Symmetric Difference of sets:", symmetric_difference)

Intersection of sets: {4, 5}
Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}
Difference of sets (set1 - set2): {1, 2, 3}
Symmetric Difference of sets: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [89]:
my_set = {10, 20, 30, 40, 50}

max_value = my_set.pop()
min_value = max_value

for num in my_set:
    if num > max_value:
        max_value = num
    if num < min_value:
        min_value = num

print("Maximum value in the set:", max_value)
print("Minimum value in the set:", min_value)

Maximum value in the set: 50
Minimum value in the set: 10

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [90]:
def find_pairs_with_sum(lst, target_sum):
    seen = set()
    pairs = []

    for num in lst:
        complement = target_sum - num
        if complement in seen:
            pairs.append((complement, num))
        seen.add(num)

    return pairs

my_list = [1, 3, 2, 4, 5, 7, 6, -1]
target_sum = 6

result = find_pairs_with_sum(my_list, target_sum)

print("Pairs with sum", target_sum, ":", result)

Pairs with sum 6 : [(2, 4), (1, 5), (7, -1)]